@model ShootShot.Models.CProject
@{
	ViewBag.Title = "CreatePrj";

}

@*<html>
	<body>*@


@*#region 妳的html*@
<main>
	@*形象圖片start*@
	<section class="cProject_sec1">
		<div>
			<img src="~/Content/images/預約專案形象圖.png" />
		</div>
		<div class="filter">

		</div>
	</section>
	@*形象圖片End
		表單區域start*@
		
		<form method="post" action="Project/CreatePrj" enctype="multipart/form-data">
		<section>
			@*<form method="post">*@
			@*選定預約攝影師*@
			<div class="cProject_conForform1">
				<div class="row">
					@*預約您的專案．．．．．．文字位置調整*@
					<div class="col-md-6">
						<label id="cProject_lblForalink1" class="cProject_lblFortxt1"
							   for="">預約您的專案．．．．．．</label>
					</div>

					@*攝影師姓名即Email由資料庫帶入,亦打關鍵字找人*@
				<div class="col-md-6">
					<label for="cProject_txtId1"
						   class="cProject_lblFortxt1">您所預約攝影師為：</label>
					@*@using (Html.BeginForm())
					{
						@Html.DropDownListFor(model => model.fEmail, ViewBag.PhotogList as SelectList, "--select--", new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.fEmail, "", new { @class = "error" })

					@Html.TextBoxFor(model => model.fName, new { @class = "form-control", @placeholder = "Name" })
					@Html.ValidationMessageFor(model => model.fName, "", new { @class = "error" })
					}*@
					<input id="cProject_txtId1" type="text" readonly="true" value="@Model.txtPEmail" name="cProject_txtId1 txtPEmail">
					@*Random rnd = new Random();
					int x = rnd.Next(10, 99);
					@Model.fOrderNum=DateTime.Now.ToString("yyyyMMdd")+x.ToString()*@
					<input type="hidden" name="txtOrderNum" value="@Model.txtOrderNum" />
				</div>
				</div>
			</div>

			@*用戶資料表格*@
			<div class="cProject_conForform2">
				@*container-left三個按鈕;這邊要用前端數據帶入後建立專案再寫入資料庫;所以要建立name?????*@
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="cProject_btn2">
								<a class="cProject_alink1 active" href="#cProject_conForform1">
									<label class="cProject_lbl1" for="cProject_alink2">step1</label>
									<label class="cProject_lbl2" for="cProject_alink2">用戶資料</label>
								</a>
							</div>
							<br />
							<div class="cProject_btn2">
								<a class="cProject_alink1" href="#cProject_conForformId2">
									<label class="cProject_lbl1" for="cProject_alink2">step2</label>
									<label class="cProject_lbl2" for="cProject_alink2">專案內容</label>
								</a>
							</div>
							<br />
							<div class="cProject_btn2">
								<a class="cProject_alink1" href="#cProject_conForformId3">
									<label class="cProject_lbl1" for="cProject_alink2">step3</label>
									<label class="cProject_lbl2" for="cProject_alink2">其他需求</label>
								</a>
							</div>
						</div>
						@*container-right用戶資料表單;這邊要用前端數據帶入後建立專案再寫入資料庫;所以要建立name?????*@
						<div class="col-md-9">
							<div id="cProject_conForformId1">
								<div>
									<h3 for="">開始創建我的專案</h3>
								</div>
								<div class=" row">
									<div class="col">
										<input class="cProject_txt1" type="text" class="form-control"
											   placeholder="姓名" aria-label="姓名" value="@ViewBag["CName"]">
									</div>
									<div class="col">
										<input class="cProject_txt1" type="tel" class="form-control"
											   placeholder="聯絡電話" aria-label="聯絡電話" value="@ViewBag["CPhone"]">
									</div>
								</div>
								<div>
									<input class="cProject_txt1" type="email" class="form-control" id="txtCEmail"
										   placeholder="電子郵件" value="@ViewBag["CEmail"]" name="txtCEmail">
								</div>

								<br />
								<br />
								<div>
									<h3 class="formLab">專案創建後，將由攝影師與您聯繫，請提供方便與您聯繫的時間與聯絡電話</h3>
								</div>
								<div class=" row">
									<div class="col">
										<input class="cProject_txt1" type="text" class="form-control"
											   placeholder="指定聯絡人" aria-label="指定聯絡人" value="@Model.txtContact" name="txtContact">
									</div>
									<div class="col">
										<input class="cProject_txt1" type="tel" class="form-control"
											   placeholder="聯絡人電話" aria-label="聯絡人電話" value="@Model.txtContactTel" name="txtContactTel">
									</div>
								</div>
								<br />
								<br />
								<div>
									<h3 class="formLab">可聯繫時間</h3>
								</div>
								<div class=" row">
									<div class="col">
										@*用前端語法勾選後input才可填寫*@
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value=""
												   id="flexCheckIndeterminate">
											<h6 class="form-check-label" for="flexCheckIndeterminate">
												平日 (週一至週五)
											</h6>
										</div>
										<input type="text" class="form-control"
											   placeholder="請填寫24小時制方便聯繫時間;如填寫14~17," aria-label="平日聯繫時間" value="@Model.txtWkdyTime" name="txtWkdyTime">
									</div>
									<div class="col">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value=""
												   id="flexCheckIndeterminate">
											<h6 class="form-check-label" for="flexCheckIndeterminate">
												假日 (每週六日及國定假日)
											</h6>
										</div>
										<input type="text" class="form-control" placeholder=" 攝影師將於假日下午2~5點與您聯繫"
											   aria-label="假日聯繫時間" value="@Model.txtWkndTime" name="txtWkndTime">
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			@*專案內容表格*@
			<div class="cProject_conForform3">

				@*container-left三個按鈕*@
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="cProject_btn2">
								<a class="cProject_alink1" href="#cProject_conForformId1">
									<label class="cProject_lbl1" for="cProject_alink2">step1</label>
									<label class="cProject_lbl2" for="cProject_alink2">用戶資料</label>
								</a>
							</div>
							<br />
							<div class="cProject_btn2">
								<a class="cProject_alink1" href="#cProject_conForformId2">
									<label class="cProject_lbl1" for="cProject_alink2">step2</label>
									<label class="cProject_lbl2" for="cProject_alink2">專案內容</label>
								</a>
							</div>
							<br />
							<div class="cProject_btn2">
								<a class="cProject_alink1" href="#cProject_conForformId3">
									<label class="cProject_lbl1" for="cProject_alink2">step3</label>
									<label class="cProject_lbl2" for="cProject_alink2">其他需求</label>
								</a>
							</div>
						</div>
						@*container-right專案內容表單*@
						<div class="col-md-9">
							<div id="cProject_conForformId2">
								<div>
									<h3 class="formLab" for="">專案內容與拍攝細節</h3>
								</div>
								<div class=" row">
									<div class="col">
										@*資料庫要帶入攝影師可接案城市*@
										<input class="cProject_txt2" type="text" placeholder="拍攝城市"
											   aria-label="拍攝城市" id="city" value="@Model.txtCity" name="txtCity">
										<div class="col">
											<input class="cProject_txt2" type="text" placeholder="拍攝地點"
												   aria-label="拍攝地點" value="@Model.txtLoc" name="txtLoc">
										</div>
									</div>
									<div class=" row">
										<div class="col">
											@*資料庫要帶入攝影師可接案城市*@
											<input type="date" class="cProject_txt2" placeholder="拍攝日期"
												   aria-label="拍攝日期" value="@Model.txtFilmDate" name="txtFilmDate">
										</div>
										<div class="col">
											<input class="cProject_txt2" type="time" placeholder="拍攝時間"
												   aria-label="拍攝時間" value="@Model.txtFilmTime" name="txtFilmTime">
										</div>
									</div>
									<div class=" row">
										<div class="col">
											<input class="cProject_txt2" type="number" placeholder="我的預算"
												   aria-label="我的預算" min="1" value="@Model.txtBudget" name="txtBudget">
										</div>
										<div class="col">
											<input class="cProject_txt2" type="number" placeholder="出圖張數"
												   aria-label="出圖張數" min="1" max="10" value="@Model.txtPrintQty" name="txtPrintQty">
										</div>
									</div>
									<br />
									@*風格選擇checkbox,,,,思考怎麼傳入*@
									<div>
										<h3 class="formLab" for="">拍攝類型</h3>
									</div>
									<div class="cProject_conForchkgroup" role="group" >
										<label class="cProject_lbl3">
											<input type="checkbox" value="寵物" value="@Model.txtFilmType" name="txtFilmType"/>
											<span>寵物</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="婚禮" />
											<span>婚禮</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="自然" />
											<span>自然</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="運動健身" />
											<span>運動健身</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="節日慶典" />
											<span>節日慶典</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="商業" />
											<span>商業</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="人像" />
											<span>人像</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="旅遊" />
											<span>旅遊</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="親子" />
											<span>親子</span>
										</label>
										<label class="cProject_lbl3">
											<input type="checkbox" value="其他" />
											<span>其他<input type="text" class="text" placeholder="請說明" value=""></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				@*其他需求表格*@
				<div class="cProject_conForform4">
					@*container-left三個按鈕*@
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="cProject_btn2">
									<a class="cProject_alink1" href="#cProject_conForformId1">
										<label class="cProject_lbl1" for="cProject_alink2">step1</label>
										<label class="cProject_lbl2" for="cProject_alink2">用戶資料</label>
									</a>
								</div>
								<br />
								<div class="cProject_btn2">
									<a class="cProject_alink1" href="#cProject_conForformId2">
										<label class="cProject_lbl1" for="cProject_alink2">step2</label>
										<label class="cProject_lbl2" for="cProject_alink2">專案內容</label>
									</a>
								</div>
								<br />
								<div class="cProject_btn2">
									<a class="cProject_alink1" href="#cProject_conForformId3">
										<label class="cProject_lbl1" for="cProject_alink2">step3</label>
										<label class="cProject_lbl2" for="cProject_alink2">其他需求</label>
									</a>
								</div>
							</div>
							@*container-right其他需求表單*@
							<div class="col-md-9">
								<div id="cProject_conForformId3">
									<div>
										<h3 for="">讓攝影師更了解您想拍攝的專案吧！</h3>
									</div>
									<div class="row">
										<input class="cProject_txt3" type="text" class="col-sm-8" placeholder="專案主題"
											   id="prjName" value="@Model.txtPjtTopic" name="txtPjtTopic">
									</div>
									<div class="row">
										<div class="col-md-6">
											<textarea class="cProject_txtbox1" placeholder="需求描述(協助攝影師更加精準掌握您的需求)
#室內
#戶外
#網路用途
#電商用途
#個人收藏
#印刷用途" id="floatingTextarea2" value="@Model.txtReq" name="txtReq"></textarea>

										</div>
										<div class="col-md-6">
											@*要用上傳彈跳視窗嗎?*@
											<input class="cProject_url1" type="url" placeholder="風格參考（請提供參考網址）"
												   value="@Model.txtStyle" name="txtStyle">
											<div class="conForpic1">
												​<picture>
													<source srcset="" type="image/svg+xml" value="">
													<img src="https://via.placeholder.com/150">
													<img src="https://via.placeholder.com/150">
													<img src="https://via.placeholder.com/150">
													<img src="https://via.placeholder.com/150">
													<a href="https://placeholder.com">
														<img src="https://via.placeholder.com/150">
													</a>

												</picture>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>

		@*表格傳送資料按鈕*@
		<button type="submit"
				style="font-size: 1.5rem;width: 15%;margin-left:40%;margin-top: 5%;margin-bottom: 5%;background-color:white;border-radius: 20px;border: 1rem;">
			確認建立專案
		</button>
		</form>
		@*表單區域end*@
</main>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
