@model ShootShot.ViewModels.MProjectViewModel
@Styles.Render("~/Content/css/phoPrjMgmt.css")
@{
	ViewBag.Title = "List";
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_LayoutForPhotoPrj.cshtml";
	ViewBag.Title = "ReplyCustMsg";

}

<!--------------------------------------------------->
<!-- #article 右側欄內容：專案卡片carousel效果 start -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

	<!------------------------------------->
	<!-- #article 右側欄內容：滑動頁面按鈕 -->
	<div class="carousel-indicators phoPrjMgmt_divForslide">
		<button id="phoPrjMgmt_btnForslide1" name="phoPrjMgmt_btnForslide1" type="button"
				data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
				aria-label="Slide 1"></button>
		<button id="phoPrjMgmt_btnForslide2" name="phoPrjMgmt_btnForslide2" type="button"
				data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
	</div>

	<!------------------------------------------------>
	<!-- #article 右側欄內容：卡片區塊slide區塊 start -->
	<div class="carousel-inner phoPrjMgmt_divForCard">
		<!-- #article 右側欄內容：卡片區塊slide1 -->
		<div class="carousel-item active" data-bs-interval="10000">
			<!-- #article 右側欄內容：卡片1-1 -->
			@foreach (var item in Model.projects.Take(3))
			{
				string photo = item.fPicUpload;
				<div id="phoPrjMgmt_divForCard1" name="phoPrjMgmt_divForCard1" class="card">
					<img id="phoPrjMgmt_imgCard1" name="phoPrjMgmt_imgCard1" src="~/Content/@photo" class="card-img-top"
						 alt="...">
					<div class="card-body">
						<h5 id="phoPrjMgmt_hCard1" name="phoPrjMgmt_hCard1" class="card-title">@item.fPjtTopic</h5>
						<p id="phoPrjMgmt_pCard1" name="phoPrjMgmt_pCard1" class="card-text">
							建立日期:@item.fPjtDate.ToString().Substring(0, 10)<br>
							指定聯絡人:@item.fContact
						</p>
						@using (Html.BeginForm())
						{
							<input type="hidden" value="@item.fOrderNum" name="txtOrderNum" for="msgOrderNo"><input type="submit" value="前往專案訊息" style="border-radius: 20px; margin: 0px 50px; width: 100px; height: 30px; font-size: 12px; background-color: #7dffd1; border: none; color: #242424;">
						}
					</div>
				</div>
			}
		</div>

		<!-- #article 右側欄內容：卡片區塊slide2 -->
		<div class="carousel-item" data-bs-interval="2000">
			@foreach (var item in Model.projects.Skip(3))
			{
				string photo = item.fPicUpload;
				@*<input type="hidden" name="txtpemail" value="@item.fCEmail" />*@
				<div id="phoPrjMgmt_divForCard4" name="phoPrjMgmt_divForCard4" class="card">
					<img src="~/Content/@photo" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 id="phoPrjMgmt_hCard4" name="phoPrjMgmt_hCard4" class="card-title">@item.fPjtTopic</h5>
						<p id="phoPrjMgmt_pCard4" name="phoPrjMgmt_pCard4" class="card-text">
							建立日期:@item.fPjtDate.ToString().Substring(0, 10)<br>
							指定聯絡人:@item.fContact
						</p>
						@using (Html.BeginForm())
						{
							<input type="hidden" value="@item.fOrderNum" name="txtOrderNum" for="msgOrderNo"><input type="submit" value="前往專案訊息" style="border-radius: 20px; margin: 0px 50px; width: 100px; height: 30px; font-size: 12px; background-color: #7dffd1; border: none; color: #242424;">
						}
					</div>
				</div>
			}
		</div>
	</div>
	<!-- #article 右側欄內容：卡片區塊slide區塊end -->
	<!--------------------------------------------->
	<!-------------------------------------------->
	<!-- #article 右側欄內容：卡片區塊arrow start -->
	<div class="phoPrjMgmt_divForArrow">
		<button id="phoPrjMgmt_btnForPrev" name="phoPrjMgmt_btnForPrev" class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			<span><img src="~/Content/img/left_arrows.svg" alt=""></span>
			<span class="visually-hidden"></span>
		</button>
		<button id="phoPrjMgmt_btnForNext" name="phoPrjMgmt_btnForNext" class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleDark" data-bs-slide="next">
			<span><img src="~/Content/img/double-right-arrows.svg" alt=""></span>
			<span class="visually-hidden"></span>
		</button>
	</div>
	<!-- #article 右側欄內容：卡片區塊arrow end -->
	<!------------------------------------------>


</div>
<!-- #article 右側欄內容：專案卡片carousel效果 end -->
<!------------------------------------------------->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
</script>

<!----------------------------------->
<!-- #article 右側欄內容：專案內容區塊 -->
<div id="phoPrjMgmt_divForMain" name="phoPrjMgmt_divForMain" class="phoPrjMgmt_divForMain">
	<div class="container">
		<div class="project">
			<p id="phoPrjMgmt_pTitle" name="phoPrjMgmt_pTitle">專案主題</p>
			<h2 id="phoPrjMgmt_hDate" name="phoPrjMgmt_hDate">@TempData["PjtTopic"]</h2>
			<p class="time">專案建立日期：@TempData["PjtDate"]</p>
			<p id="phoPrjMgmt_phoName" name="phoPrjMgmt_phoName">預約攝影師：@TempData["PhotoName"]</p>
			<br>
			<p id="phoPrjMgmt_pDetail" name="phoPrjMgmt_pDetail">
				拍攝日期：@TempData["FilmDate"] <br>
				拍攝開始時間：@TempData["FilmTime"]<br>
				拍攝地點：@TempData["City"] / @TempData["Loc"]<br>
				出圖張數：@TempData["PrintQty"] 張<br>
				專案預算：@TempData["Budget"] 元
			</p>
			<br>
			<p id="phoPrjMgmt_pContect" name="phoPrjMgmt_pContect">
				指定聯絡人：@TempData["Contact"]<br>
				聯絡人電話：@TempData["ContactTel"]<br>
				可聯繫時間：平日 @TempData["WkdyTime"] / 假日 @TempData["WkndTime"]
			</p>
			<br>
			<p id="phoPrjMgmt_pDescribe" name="phoPrjMgmt_pDescribe">
				其他需求描述：<br>
				@TempData["Req"]
			</p>
			<br>
			<p>參考連結：@TempData["Style"]</p>
			<p>風格參考</p>
			<div id="phoPrjMgmt_dicForImgStyle" name="phoPrjMgmt_dicForImgStyle" class="row picture">
				<div class="col"><img id="phoPrjMgmt_ImgStyle" name="phoPrjMgmt_ImgStyle" src="~/Content/@TempData["PicUpload"]" alt=""></div>
				<div class="col"><img src="" alt="" style="display:none;"></div>
				<div class="col"><img src="" alt="" style="display:none;"></div>
				<div class="col"><img src="" alt="" style="display:none;"></div>
				<div class="col"><img src="" alt="" style="display:none;"></div>
			</div>

		</div>
	</div>
</div>
<!-- #article 右側欄內容：專案內容區塊 -->
<!----------------------------------->


<!--------------------------------->
<!-- #article 右側欄內容：留言板區塊start -->
<div id="phoPrjMgmt_divForChat1" name="phoPrjMgmt_divForChat1" class="phoPrjMgmt_divForChat">
	<p>與聯絡人聊聊</p>
	<div id="phoPrjMgmt_divForText" name="phoPrjMgmt_divForText" class="phoPrjMgmt_divForText">
		<img id="phoPrjMgmt_imgPho" name="phoPrjMgmt_imgPho" src="~/Content/img/@TempData["PhoImg"]" alt="">

		@using (Html.BeginForm("Create", "PhoPrjMgmt", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			//try
			//{
			//	string key = Request.QueryString["Key"];
			<input type="hidden" id="fixkey" name="fixkey" value="@TempData["fixkey"]" />
			@*}
			catch (Exception ex) { throw; }*@

			<input type="hidden" name="msgOrderNo" value="@TempData["OrderNum"]" />
			<textarea class="chattext" name="phoPrjMgmt_texboxChat" id="phoPrjMgmt_texboxChat" cols="80" rows="2" aria-valuemax="150" placeholder="聊聊吧..."></textarea>
			<input id="phoPrjMgmt_submChat" name="phoPrjMgmt_submChat" type="submit" value="發送" for="pmsgfix">
		}

		@*<h2>回覆留言</h2>
		<form method="post" action="~/PhoPrjMgmt/ReplyMsg">
			<p>
				Id<br />
				<input type="hidden" name="fId" value="@Model.msg.fId" />
			</p>
			<p>
				顧客Email<br />
				<input type="hidden" name="fCEmail" value="@Model.msg.fCEmail" />
			</p>
			<p>
				顧客留言<br />
				<input type="hidden" name="fCMsg" value="@Model.msg.fCMsg" />
			</p>
			<p>
				顧客留言時間<br />
				<input type="hidden" name="fCMsgTime" value="@Model.msg.fCMsgTime" />
			</p>
			<p>
				訂單編號<br />
				<input type="hidden" name="fOrderNum" value="@Model.msg.fOrderNum" />
			</p>
			<p>
				攝影師Email<br />
				<input type="hidden" name="fPEmail" value="@Model.msg.fPEmail" />
			</p>
			<p>
				攝影師留言<br />
				<input type="text" name="fPMsg" value="@Model.msg.fPMsg" />
			</p>
			<p>
				攝影師留言時間<br />
				<input type="hidden" name="fPMsgTime" value="@Model.msg.fPMsgTime" />
			</p>
			<p>
				狀態<br />
				<input type="text" name="fStates" value="@Model.msg.fStates" />
			</p>
			<input type="submit"/>
		</form>*@
	</div>
</div>
<br>
<br>
@{
	Html.RenderAction("_PhoMsgPartial");
}
