@model ShootShot.ViewModels.MProjectViewModel

@{
	ViewBag.Title = "ReplyCustMsg";
	Layout = "~/Views/Shared/_LayoutForPhotoPrj.cshtml";
}
<article>
	<div class="phoPrjMgmt_divForMain" id="phoPrjMgmt_divForMain">
		<div class="container">
			<div class="project">
			<h3 style="margin: 60px 0px 0px 0px;">回覆留言</h3>
			<form method="post" action="~/PhoPrjMgmt/ReplyCustMsg">
				<p>
					<input type="hidden" name="fId" value="@Model.msg.fId" style="margin:auto 50px;" />
					<input type="hidden" name="fCEmail" value="@Model.msg.fCEmail" style="margin:auto 50px;" />
				</p>
				<div class="mb-3">
					<label for="formGroupExampleInput" class="form-label">顧客留言</label>
					<textarea type="text" class="form-control" id="formGroupExampleInput2" maxlength="50" name="fCMsg" value="@Model.msg.fCMsg" readonly style="border-radius:15px;">@Model.msg.fCMsg</textarea>
				</div>
				<div class="mb-3">
					<label for="formGroupExampleInput2" class="form-label">您的留言</label>
					<textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="請回覆您的訊息" maxlength="50" name="fPMsg" value="@Model.msg.fPMsg" style="border-radius:15px;"></textarea>
					@*<input >*@
				</div>
				<div class="mb-3">
					<label for="formGroupExampleInput2" class="form-label">時間</label>
					<input type="datetime" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" name="fPMsgTime" value="@DateTime.Now " readonly style="border-radius:15px;">
				</div>
				<p>
					<input type="hidden" name="fCMsgTime" value="@Model.msg.fCMsgTime" style="margin:auto 50px;" />
				</p>
				<p>
					<input type="hidden" name="fOrderNum" value="@Model.msg.fOrderNum" style="margin:auto 50px;" />
				</p>
				<p>
					<input type="hidden" name="fPEmail" value="@Model.msg.fPEmail" style="margin:auto 50px;" />
				</p>
				<p>
					<input type="hidden" name="fStates" value="@Model.msg.fStates @true" style="margin:auto 50px;" />
				</p>
				<input type="submit" value="回覆"  style="border: solid aquamarine;border-radius: 15px;background-color: aquamarine;width: 70px;height: 32px; font-size:14px;padding:3px 4px;"/>
			</form>
			</div>
		</div>
	</div>
</article>