<!DOCTYPE html>
<html lang="en">

<head>
	<!-- #region meta請勿更改 -->
	<meta charset="utf-8">
	<title>建立專案</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="SHOOTSHOT" name="keywords">
	<meta name="description" content="SHOOTSHOT | 我們提供攝影平台供攝影師上傳作品 管理預約客戶的訂單 消費者可搜尋喜好風格並預約消費">
	<meta name="robots" content="index,follow">
	<base target="_self" />
	<!-- #endregion -->
	<!-- #region Icon請勿更改 -->
	<link href="~/Content/img/logo.PNG" rel="icon">
	<!-- #endregion -->
	<!-- #region 共用googleFont請勿更改 -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
		  rel="stylesheet">
	<!-- #endregion -->
	<!-- #region 共用cssLink請勿更改 -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
	<link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="~/Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
	<link href="~/Content/css/nav/style.css" rel="stylesheet">
	<!-- #endregion -->

	<link rel="stylesheet" href="~/Content/css/cProject.css">
</head>
<body>
	<!-- #region navbar請勿更改 -->
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="nav">
		<div class="container-fluid">
			<a href="indexV3.html" class="navbar-brand">SHOOTSHOT</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
				<div class="navbar-nav ml-auto align-items-center">

					<a href="#" id="scroll-to-search" class="nav-item nav-link">搜尋圖片</a>
					<a href="./cProject.html" class="nav-item nav-link">預約專案</a>

					<div class="nav-item dropdown">
						<img src="./image/lucas-pezeta/lucas-pezeta-user.jpeg" alt="user"
							 class="nav-link dropdown-toggle nav_userphoto" data-toggle="dropdown">
						<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
							<li>
								<div class="dropdown_form">
									<div class="dropdown_formheader">
										<a href="./photographerinfoV4.html">
											<img src="~/Content/img/lucas-pezeta/lucas-pezeta-user.jpeg" alt="user">
										</a>
										<div class="formheader_username">
											<p>Lucas-Pezeta</p>
											<p>useremail@gmail.com</p>
										</div>
									</div>
									<div class="dropdown_formbody">
										<button class="formbody_btn">
											<a href="">管理我的帳號</a>
										</button>
										<button class="formbody_btn" type="submit">
											<a href="">專案管理</a>
										</button>
										<button class="formbody_btn" type="submit">
											<a href="">協助與支援</a>
										</button>
										<button class="formbody_btn" type="submit">
											<a href="./indexV3 logout.html">登出</a>
										</button>

									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- #endregion -->

	@RenderBody()
	<hr />
	<div class="footer ">
		<div class="container">
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="footer-link">
						<h2>保留</h2>
						<a href="">保留</a>
						<a href="">保留</a>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="footer-newsletter">
						<h2>Give it a shot !</h2>
						<a>拍一張照 ・ 分享一張照片</a>
					</div>
					<div class="footer-social">
						<a href=""><i class="fab fa-twitter"></i></a>
						<a href=""><i class="fab fa-facebook-f"></i></a>
						<a href=""><i class="fab fa-youtube"></i></a>
						<a href=""><i class="fab fa-instagram"></i></a>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="footer-contact">
						<h2>Contact Us !</h2>
						<p>
							<i class="fa fa-map-marker-alt"></i>701 臺南市東區大學路1號<br>
						</p>
						<p><i class="fa fa-phone-alt"></i>+886-6-7166166</p>
						<p><i class="fa fa-envelope"></i>shootshot@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center py-2" style="background-color: black; color: #FFFFFF; font-weight: 300;">
		&#169; copyright ©
		2021 | ShootShot. All Rights Reserved
	</div>
	<!-- endregion -->
	<!-- #region backToUp請勿更改 -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<!-- $endregion -->
	@*</div>*@

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

	@RenderSection("scripts", required: false)
	<!-- #region backToUp請勿更改 -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<!-- $endregion -->
	<!-- #region js請勿更改 -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	@Scripts.Render("~/Content/lib")
	<script src="mail/jqBootstrapValidation.min.js"></script>
	<script src="mail/contact.js"></script>
	<script src="js/main.js"></script>
	<!-- #endregion -->
</body>
</html>
