<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShootShot @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="SHOOTSHOT" name="keywords">
    <meta content="SHOOTSHOT" name="description">
    <link href="~/Content/img/logo.PNG" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/indexHeader.css" media="screen">
    <link rel="stylesheet" href="~/Content/css/indexOther.css" media="screen">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="nav">
        <div class="container-fluid">
            <a href="~/Home/Index" class="navbar-brand">SHOOTSHOT</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto align-items-center">
                    <a href="~/Home/Index" class="nav-item nav-link active">首頁</a>
                    <a href="#" id="scroll-to-search" class="nav-item nav-link">搜尋圖片</a>
                    <a href="index.html" class="nav-item nav-link">預約專案</a>
                    <a href="~/LoginAndSignup/Signup" class="nav-item nav-link">登入</a>
                    <div class="nav-item dropdown">
                        <!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>  -->
                        <img src="~/Content/img/user.jpg" alt="user" class="nav-link dropdown-toggle" data-toggle="dropdown"
                             style="width: 80px;height: 80px;border-radius: 50px;">
                        <div class="dropdown-menu">
                            <a href="index.html" class="dropdown-item">登入</a>
                            <a href="./member.html" class="dropdown-item">設定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="footer ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="footer-link">
                        <h2>保留</h2>
                        <a href="">保留</a>
                        <a href="">保留</a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="footer-newsletter">
                        <h2>Give it a shot !</h2>
                        <a>拍一張照 ・ 分享一張照片</a>
                    </div>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="footer-contact">
                        <h2>Contact Us !</h2>
                        <p>
                            <i class="fa fa-map-marker-alt"></i>701 臺南市東區大學路1號<br>
                        </p>
                        <p><i class="fa fa-phone-alt"></i>+886-6-7166166</p>
                        <p><i class="fa fa-envelope"></i>shootshot@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="text-center py-2" style="background-color: black; color: #FFFFFF; font-weight: 300;">
        &#169; copyright ©
        @DateTime.Now.Year | ShootShot. All Rights Reserved
    </div>
    @*<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>*@
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/lib/lightbox/js/lightbox.min.js"></script>
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
    <script src="~/Content/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
