@model IEnumerable<ShootShot.tMsg>
@{
	Layout = null;
	ViewBag.Title = "Create";
	//dbShootShotEntities db = new dbShootShotEntities();
	//int id = 4;
	//var member = db.tMember.Where(t => t.fId == id).FirstOrDefault();
	//string cemail = member.fEmail.ToString();
	//string OrderNo = Request.Form["msgOrderNo"];
	//IEnumerable<tMsg> Msg = null;
	//Msg = from g in db.tMsg where g.fOrderNum.Contains(OrderNo) orderby g.fId select g;
}
<!--------------------------------->
<!-- #article 右側欄內容：留言板區塊 -->
<div class="prjMgmt_divForMem">
	<img class="chat" src="~/Content/img/chat 1.svg" alt="">
	@foreach (var item in Model)
	{
		string CMsg = item.fCMsg;
		if (CMsg == null)
		{
			CMsg = "您有留言尚未回覆";
			string action = "true";
		}
		string PMsg = item.fPMsg;
		if (PMsg == null)
		{ PMsg = "您的留言尚未被回覆"; }

		<div class="prjMgmt_divForMes">
			<img src="~/Content/img/@TempData["CustImg"]" alt="">
			<p class="memberMes">@CMsg</p>
			<p class="memberTime">@item.fCMsgTime</p>
			<input id='textkey' type='hidden' name='textkey' value="@item.fId">
			@if (item.fCMsg == null)
			{
				<div>
					@Html.ActionLink("回覆", "ReplyMsg", new { id = item.fId }, new { @class = "btn btn-outline-secondary", style = "margin-left:5px" })
				</div>}
		</div>
		<br />
		<div class="prjMgmt_divForPho">
			<img src="~/Content/img/@TempData["PhoImg"]" alt="">
			<p class="PhoMes">@PMsg</p>
			<p class="PhoTime">@item.fPMsgTime</p>
		</div>
		<br />
		<br />
	}


</div>

